ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(73, 69, 61);
    border-radius: 0px 0px 5px 5px;
}

li{
    float: left;

}

li:first-child{
    margin-left: 25px;
}

li a{
    display: block;
    color:#ffff;
    padding: 15px 8px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: firebrick;
}

li:last-child{
    float: right;
    margin-right: 20px;
}